<ion-content class="welcome-screen">


   <img alt="Silhouette of mountains" src="../assets/image/Done.png" style="width: 100%; height: auto;" />

  <div class="welcome-text">
    <h1>Welcome to <br /><span class="app-name"> TO-DUO</span></h1>
    <p class="description">
      Do your daily tasks.
    </p>
  </div>

  <ion-button expand="block" class="ion-text-center" [routerLink]="['/login']">
    Login to Guardian
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-button>

  <ion-button expand="block" class="custom-btn" [routerLink]="['/view']">
    Login to Child
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-button>
</ion-content>

